@import 'variables';

.cs-table {
  background: $white;

  th {
    font-weight: 700;
    text-transform: uppercase;
    color: $blue;
  }

  td {
    color: black;
  }

  .row-error {
    border-left: 2px solid $red;
  }

  .full-width-table {
    width: 100%;
  }

  .dialog-with-borders {
    mat-dialog-content {
      border-bottom: solid 1px #E0E0E0;
      border-top: solid 1px #E0E0E0;
      padding-top: 20px !important;
      padding-bottom: 20px !important;
    }

    mat-dialog-actions {
      padding: 15px 0 !important;
    }

    .mat-dialog-title {
      font-size: 24px;
      color: dimgray;
      font-weight: normal;

      button {
        color: #000000;
      }
    }
  }
}
