$white: #ffffff;
$background: rgb(199, 199, 202);
$red: #ff4332;
$cyan: #43a6ff;
$green: #45ff39;
$light-blue: #446ef2;
$dark-blue: #1a3162;
$blue: rgba(92,117,156,0.75);	;
$section: #CC6600;
$primary: #b8c5cf;
$accent: #e2e8ec;
$warn: #58778e;
$action-icon-color: $primary;
$break-xsmall: 599px;
$break-small: 959px;
$break-medium: 1279px;
$break-large: 1919px;
